<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Express-Project-One</title>
</head>
<body>
{% block content %}
    <p>This is the dafault layout!</p>
{% endblock %}
</body>
</html>