<!DOCTYPE html>
<html>
<head>
    <title>Redis Demo</title>
</head>
<body>
    <h2>Redis Store Demonstration</h2>
    <h4>Set Key/Value Pair</h4>
    <form name="redis" action="/redis/store" method="post">
        <span style="text-align: right">
        <label>
            Key:
            <input type="text" name="key" />
        </label>
        <br />
        <label>
            Value:
            <input type="text" name="value" />
        </label>
        </span>
        <br />
        <button>Submit</button>
    </form>

    <h4>Keys</h4>
    <div>keys Count: <span id="keys_count">{{ keys.length }}</span></div>
    {% if keys.length > 0 %}
        <ul>
        {% for key in keys %}

            <li>{{ key }}</li>

        {% endfor %}
        </ul>
    {% endif %}


    <h4>Items</h4>
    <div>Items Count: <span id="items_count">{{ items.length }}</span></div>
    {% if items.length > 0 %}
        <ul>
            {% for item in items %}
                <li>{{ item.key }} : {{ item.value }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>