{% extends 'layout.njk' %}

{% block content %}
    <h2>Redis Store Demonstration</h2>
    <h4>Set Key/Value Pair</h4>
    {% if ( alert ) %}
        <div class="alert {{ alert.type }}">{{ alert.message }}</div>
    {% endif %}
    <form name="redis" action="/store" method="post">
            {% if ( errors.key ) %}
                <div style="color:red">
                    {{ errors.key }}
                </div>
            {% endif %}
        <label>
            Key:
            <input type="text" name="key" value="{{ old.key }}"/>
        </label>
        <br />
            {% if ( errors.value ) %}
                <div style="color:red">
                    {{ errors.value }}
                </div>
            {% endif %}
        <label>
            Value:
            <input type="text" name="value" value="{{ old.value }}" />
        </label>
        <br />
        <button>Submit</button>
    </form>

    <h4>Keys</h4>
    <div>keys Count: <span id="keys_count">{{ keys.length }}</span></div>
    {% if keys.length > 0 %}
        <ul>
        {% for key in keys %}

            <li>{{ key }}</li>

        {% endfor %}
        </ul>
    {% endif %}


    <h4>Items</h4>
    <div>Items Count: <span id="items_count">{{ items.length }}</span></div>
    {% if items.length > 0 %}
        <ul>
            {% for item in items %}
                <li>{{ item.key }} : {{ item.value }} <a class="delete" data-key="{{ item.key }}"><i class="far fa-times-circle"></i></a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        $(function(){
            $('.delete').on('click', function() {
                $.ajax({
                    type: "DELETE",
                    url: '/redis/'+$(this).data('key')
                });
            });
        });
    </script>
{% endblock %}